<body class="bg-white-200 pt-4 sm:pt-6 md:pt-8 lg:pt-10 xl:pt-12">

    <div class="mx-auto max-w-2xl lg:mx-0 mt-8 sm:mt-12 md:mt-16 lg:mt-20 xl:mt-24">
        <h2 class="text-3xl font-bold tracking-tight text-teal-500 sm:text-4xl">Nos Formations</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <br>
    <ul role="list" class="divide-y divide-white-100 bg-white pt-4 sm:pt-6 md:pt-8 lg:pt-10 xl:pt-12 pl-8 sm:pl-12 md:pl-16 lg:pl-20 xl:pl-24 pr-8 sm:pr-12 md:pr-16 lg:pr-20 xl:pr-24">
        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-lg font-semibold leading-6 text-teal-500 mr-2 hover:text-teal-500">Mastére En Systèmes Embarqués</p>
                    </div>
                    <div class="flex items-center mt-1">
                        <p class="text-md leading-6 black">Cette formation permettra au diplômé de : <br>
                            ● Développer une compétence métier relevant de l’un des domaines suivants :
                            systèmes embarqués, domotique et réseau d’intérieur <br>
                            ● Savoir appliquer les principales procédures et méthodes utilisées dans la mise en
                            œuvre des systèmes embarqués <br>
                            ● Définir, justifier, planifier et mener à terme un projet d’implémentation d’une
                            technologie existante ou des projets de développement dans le domaine de la
                            technologie de systèmes embarqués <br>
                            ● Maitriser la conception et le développement des systèmes intégrants <br>
                            ● Concevoir des interfaces homme/machine pour la supervision des systèmes
                            domotiques <br>
                            ● Maitriser les concepts de l’électronique avancée pour appréhender et concevoir des
                            dispositifs en systèmes embarqués.</p>
                    </div>
                </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-m leading-10 text-teal-500">Crée en 2009</p>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-lg font-semibold leading-6 text-teal-500 mr-2 hover:text-teal-500">Licence TIC</p>
                    </div>
                    <div class="flex items-center mt-1">
                        <p class="text-md leading-6 text-black">La licence en Technologie de l’Information et de la Communication (TIC), qui démarre en 2019/2020, permet de répondre aux besoins de la société moderne. <br>
                            La composante clé de cette formation est la maitrise des technologies de
                            l’information et de la communication. Cette formation donne aux étudiants les
                            connaissances de base sur les sujets et les outils nécessaires au développement
                            d’application, de bases de données, etc. <br>
                            Cette licence (TIC) tend à doter les étudiants de compétences scientifiques dans les
                            domaines des télécommunications et Nouvelles technologies et système IoT. <br>
                            Les étudiants issus de cette formation peuvent continuer en master de recherche, en
                            master professionnel dans des disciplines de même spécialité. Ils peuvent aussi
                            participer aux concours spécifiques pour entrer dans les écoles d’ingénieurs. <br>
                            La licence proposée est constituée d’un enseignement commun du Semestre 1 au
                            Semestre 3
                            
                            Du Semestre 4 au Semestre 5, l’étudiant choisira un parcours parmi les deux
                            parcours proposés : <br>
                            Option 1 : Télécommunications <br>
                            Option 2 : Réseaux IoT <br>
                            Les étudiants issus de cette formation peuvent continuer leurs études : <br>
                            ● En cycle d’ingénieurs <br>
                            ● En Master de recherche dans des disciplines de mêmes spécialités <br>
                            ● En Master professionnel dans des disciplines de mêmes spécialités</p>
                    </div>
                </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-m leading-10 text-teal-500">Crée en 2011</p>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-lg font-semibold leading-6 text-teal-500 mr-2 hover:text-teal-500">Génie des Systèmes Electroniques de Communication</p>
                    </div>
                    <div class="flex items-center mt-1">
                        <p class="text-md leading-6 text-black">La formation GEC offre l’avantage de fournir les outils nécessaires aux ingénieurs
                            pour s’intégrer et participer efficacement dans les projets industriels. <br>
                            Les enseignements dans la formation GEC sont fondés sur une formation commune
                            pendant les quatre premiers semestres (de S1 à S4) et une formation optionnelle
                            pendant le cinquième semestre (S5). <br>
                            Chacun des semestres d’enseignement a une durée effective de 14 semaines plus
                            une semaine d’évaluation.
                            Les deux premières années, de S1 à S4, assurent la formation de l’ingénieur
                            polyvalent ayant le niveau de compétence minimal qui lui permet d’intégrer tous les
                            métiers de l’ingénieur en génie Systèmes Electroniques Embarqués.
                            Le semestre cinq (S5) de la troisième année assure la sous-spécialisation dans une
                            option.</p>
                    </div>
                </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-m leading-10 text-teal-500">Crée en 2012</p>
            </div>
        </li>

    </ul>
</body>
