<body class="bg-white-200 pt-4 sm:pt-6 md:pt-8 lg:pt-10 xl:pt-12">

    <div class="mx-auto max-w-2xl lg:mx-0 mt-8 sm:mt-12 md:mt-16 lg:mt-20 xl:mt-24">
        <h2 class="text-3xl font-bold tracking-tight text-teal-500 sm:text-4xl">Nos Formations</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <br>
    <ul role="list" class="divide-y divide-white-100 bg-white pt-4 sm:pt-6 md:pt-8 lg:pt-10 xl:pt-12 pl-8 sm:pl-12 md:pl-16 lg:pl-20 xl:pl-24 pr-8 sm:pr-12 md:pr-16 lg:pr-20 xl:pr-24">
        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-lg font-semibold leading-6 text-teal-500 mr-2 hover:text-teal-500">Mastére En Systèmes Embarqués</p>
                    </div>
                    <div class="flex items-center mt-1">
                        <p class="text-sm leading-5 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias illo, neque fugit alias debitis, quis, quibusdam aliquam quae atque cupiditate exercitationem. Repudiandae quibusdam aliquam, quia enim cum maxime architecto ab. Quis illo placeat distinctio saepe porro molestias iste inventore sit vitae delectus quibusdam neque minus quod magni sequi dolore optio quas impedit animi consectetur, labore maxime sed repellat? Vero, saepe.</p>
                    </div>
                </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-m leading-10 text-teal-500">Crée en 2009</p>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-lg font-semibold leading-6 text-teal-500 mr-2 hover:text-teal-500">Licence TIC</p>
                    </div>
                    <div class="flex items-center mt-1">
                        <p class="text-sm leading-5 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias illo, neque fugit alias debitis, quis, quibusdam aliquam quae atque cupiditate exercitationem. Repudiandae quibusdam aliquam, quia enim cum maxime architecto ab. Quis illo placeat distinctio saepe porro molestias iste inventore sit vitae delectus quibusdam neque minus quod magni sequi dolore optio quas impedit animi consectetur, labore maxime sed repellat? Vero, saepe.</p>
                    </div>
                </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-m leading-10 text-teal-500">Crée en 2011</p>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-lg font-semibold leading-6 text-teal-500 mr-2 hover:text-teal-500">Génie des Systèmes Electroniques de Communication</p>
                    </div>
                    <div class="flex items-center mt-1">
                        <p class="text-sm leading-5 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias illo, neque fugit alias debitis, quis, quibusdam aliquam quae atque cupiditate exercitationem. Repudiandae quibusdam aliquam, quia enim cum maxime architecto ab. Quis illo placeat distinctio saepe porro molestias iste inventore sit vitae delectus quibusdam neque minus quod magni sequi dolore optio quas impedit animi consectetur, labore maxime sed repellat? Vero, souvent.</p>
                    </div>
                </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-m leading-10 text-teal-500">Crée en 2012</p>
            </div>
        </li>

    </ul>
</body>
