<h2 class="text-center text-2xl font-bold my-4 text-teal-500">Mobilité Des Elèves Ingénieurs</h2>
<br>

<body class="bg-white-200">
    <ul role="list" class="divide-y divide-white-100 bg-white pt-4 sm:pt-6 md:pt-8 lg:pt-10 xl:pt-12 pb-8 sm:pb-12 md:pb-16 lg:pb-20 xl:pb-24 pl-8 sm:pl-12 md:pl-16 lg:pl-20 xl:pl-24 pr-8 sm:pr-12 md:pr-16 lg:pr-20 xl:pr-24">
        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">

                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-sm font-semibold leading-6 text-gray-900 mr-2 hover:text-teal-500">La mobilité des élèves ingénieurs du département électronique à l’étranger est établie afin d’enrichir leur profil de compétences et acquérir des aptitudes pour travailler dans un contexte international. Néanmoins, le nombre des étudiants qui bénéficient d’une bourse de mobilité reste un peu limité durant les trois dernières années universitaires.
                            Le département compte déployer des efforts supplémentaires pour augmenter le nombre des élèves ingénieurs qui bénéficieront d’une mobilité.</p>
                    </div>
                </div>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">

                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-sm font-semibold leading-6 text-gray-900 mr-2 hover:text-teal-500">La formation GEC présente trois possibilités pour bénéficier d’une mobilité : <br>
                            ● Mobilité sur un seul semestre durant S1-S4. <br>
                            ● Mobilité sur un seul semestre durant S6 (PFE). <br>
                            ● Mobilité afin d’obtenir un double diplôme (diplôme d’ingénieur du département et celui de l’établissement d’accueil).</p>
                    </div>
                </div>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">

                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-sm font-semibold leading-6 text-gray-900 mr-2 hover:text-teal-500">En effet, le développement des partenariats avec des établissements internationaux, en particulier européens, permet au département électronique d’évaluer
                            et comparer la qualité de sa formation à celles de ses partenaires internationaux. La validation du semestre est faite sur la base des résultats obtenus dans l’université d’accueil dans le respect du contrat pédagogique signé par toutes les parties.</p>
                    </div>
                </div>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3 items-center">
            <div class="flex min-w-0 gap-x-4 w-full">
                <div class="min-w-0 flex-auto w-full">
                    <div class="flex items-center">
                        <div class="container mx-auto p-4 w-full">
                            <div class="flex justify-between items-center mb-4">
                                <div>
                                    <h1 class=" text-center text-2xl font-bold text-teal-500">Nombre total des élèves ingénieur pour la filière GEC</h1>
                                    <!-- <p class="text-gray-600">A list of all the users in your account including their name, title, email and role.</p> -->
                                </div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-teal-500 uppercase tracking-wider">Année Universitaire</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2019-2020</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2020-2021</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2021-2022</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-teal-500">Nombre des élèves ingénieur</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3 items-center">
            <div class="flex min-w-0 gap-x-4 w-full">
                <div class="min-w-0 flex-auto w-full">
                    <div class="flex items-center">
                        <div class="container mx-auto p-4 w-full">
                            <div class="flex justify-between items-center mb-4">
                                <div>
                                    <h1 class="text-2xl font-bold text-teal-500">
                                        Nombre des élèves ingénieur en mobilité pour la filière GEC</h1>
                                </div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-teal-500 uppercase tracking-wider">Type de Mobilité</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2018</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2019</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2020</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2021</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2022</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2023</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-teal-500">Double diplôme</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                                        </tr>

                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-teal-500">Semestre 4</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1 France</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                        </tr>

                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-teal-500">Semestre 5</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1 France</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                        </tr>

                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-teal-500">Semestre 6</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2 Allemagne
                                                <br>3 France <br> 3 Canada <br> 1 Espagne</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">6 Allemagne <br>
                                                1 France <br> 1 Canada </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">8 Allemagne <br>
                                                2 France</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">

                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-sm font-semibold leading-6 text-gray-900 mr-2 hover:text-teal-500">Dans le cadre de son ouverture sur l’environnement académique international, l’ENET’Com, en particulier le département électronique, a travaillé ces dernière années sur l’attraction des élèves ingénieurs étrangers et principalement africains.
                            D’après le Tableau suivant, le nombre des élèves étrangers suivant leur formation en génie des systèmes électroniques embarqués est en train d’évoluer d’une année à l’autre. La politique du département favorise toujours l’ouverture à l’international et des efforts supplémentaires sont en train d’être déployés pour renforcer l’attraction des élèves ingénieurs étrangers.</p>
                    </div>
                </div>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3 items-center">
            <div class="flex min-w-0 gap-x-4 w-full">
                <div class="min-w-0 flex-auto w-full">
                    <div class="flex items-center">
                        <div class="container mx-auto p-4 w-full">
                            <div class="flex justify-between items-center mb-4">
                                <div>
                                    <h1 class="text-2xl font-bold text-teal-500">Nombre des élèves ingénieur étrangers pour la filière GEC</h1>
                                </div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-teal-500 uppercase tracking-wider">Année Universitaire</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2019-2020</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2020-2021</th>
                                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-teal-500 uppercase tracking-wider">2021-2022</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-teal-500">Nombre des élèves ingénieur</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
    </ul>
</body>