<h2 class="text-center text-2xl font-bold my-4 text-teal-500">Nos Actualités</h2>
<br>

<body class="bg-white-200">
    <ul role="list" class="divide-y divide-white-100 bg-white pt-4 sm:pt-6 md:pt-8 lg:pt-10 xl:pt-12 pb-8 sm:pb-12 md:pb-16 lg:pb-20 xl:pb-24 pl-8 sm:pl-12 md:pl-16 lg:pl-20 xl:pl-24 pr-8 sm:pr-12 md:pr-16 lg:pr-20 xl:pr-24">

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">

                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-sm font-semibold leading-6 text-gray-900 mr-2 hover:text-teal-500">La mobilité des élèves ingénieurs du département électronique à l’étranger est établie afin d’enrichir leur profil de compétences et acquérir des aptitudes pour travailler dans un contexte international. Néanmoins, le nombre des étudiants qui bénéficient d’une bourse de mobilité reste un peu limité durant les trois dernières années universitaires.
                            Le département compte déployer des efforts supplémentaires pour augmenter le nombre des élèves ingénieurs qui bénéficieront d’une mobilité.</p>
                    </div>
                </div>
            </div>
            <div class="flex min-w-0 gap-x-4 w-full">
                    <div class="min-w-0 flex-auto w-full">
                        <div class="flex items-center ">
                            <div class="container mx-auto p-8">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                  <div class="carousel-inner rounded-lg">
                                    <div class="carousel-item active">
                                      <img src="cc.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                      <img src="ff.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                      <img src="tt.jpg" class="d-block w-100" alt="...">
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
            </div>
        </li>

    </ul>
</body>