<div class="flex min-h-full flex-col justify-center px-6 py-0 lg:px-8" style="padding: 10%;">
    <div class="space-y-0 bg-white p-10">

        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img class="mx-auto h-20 w-auto" src="logo_DE-01.png" alt="Logo">
        </div> <br>

        <form>
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-teal-500">Bienvenue chère Enseignant !</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">En utilisant ce formulaire, vous pouvez entrer en contact directement avec le chef de département et sa réponse sera reçue sur votre boîte email.</p>

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Nom</label>
                        <div class="mt-2 shadow-sm rounded-md">
                            <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 ring-0 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-teal-500 sm:text-sm sm:leading-6" placeholder="Veuillez Entrer Votre Nom">
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Prénom</label>
                        <div class="mt-2 shadow-sm rounded-md">
                            <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 ring- ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-teal-500 sm:text-sm sm:leading-6" placeholder="Veuillez Entrer Votre Prénom">
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Adresse Email</label>
                        <div class="mt-2 shadow-sm rounded-md">
                            <input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 ring-0 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-teal-500 sm:text-sm sm:leading-6" placeholder="Veuillez Entrer Votre Adresse Email">
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="Classe" class="block text-sm font-medium leading-6 text-gray-900">Sujet Concerné</label>
                        <div class="mt-2 shadow-sm rounded-md">
                            <select id="country" name="country" autocomplete="country-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 ring-0 ring-inset ring-gray-300 focus:ring-1 focus:ring-inset focus:ring-teal-500 sm:text-sm sm:leading-6">
                                <option value="" disabled [selected]="true">Choisissez Le Sujet Concerné</option>
                                <option value="Demande">Demande</option>
                                <option value="Proposition">Proposition</option>
                                <option value="Réclamation">Réclamation</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-span-full">
                        <label for="about" class="block text-sm font-medium leading-4 text-gray-900">Réclamations / Propositions / Demandes</label>
                        <div class="mt-2 shadow-sm rounded-md">
                            <textarea id="about" name="about" rows="3" class="block w-full rounded-md border-0 py-1 text-gray-900 ring-0 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-teal-500 sm:text-sm sm:leading-5" placeholder="Si vous avez des réclamations, des propositions ou des demandes, n'hésitez pas à les écrire. Votre avis nous intéresse."></textarea>
                        </div>
                        <p class="mt-2 mb-0 text-sm leading-2 text-gray-600"><b class="text-teal-500">NB :</b> Votre avis sera transmis au chef du département, et il vous donnera une réponse dans les plus brefs délais.</p>
                    </div>
                </div>
            </div>

            <div class="mt-3 flex items-center justify-end gap-x-6 md:gap-x-6 xl:gap-x-4">
                <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Annuler</button>
                <button type="submit" class="rounded-md bg-teal-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Soumettre</button>
            </div>
        </form>
    </div>
</div>
