<h2 class="text-center text-2xl font-bold my-4 text-teal-500">Liste des Formations</h2>
<br>

<body class="bg-white-200">
    <ul role="list" class="divide-y divide-white-100 bg-white pt-4 sm:pt-6 md:pt-8 lg:pt-10 xl:pt-12 pb-8 sm:pb-12 md:pb-16 lg:pb-20 xl:pb-24 pl-8 sm:pl-12 md:pl-16 lg:pl-20 xl:pl-24 pr-8 sm:pr-12 md:pr-16 lg:pr-20 xl:pr-24">

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <div class="flex items-center">
                        <p class="text-lg font-semibold leading-6 text-teal-500 mr-2">Former des étudiants de haut niveau</p>
                    </div>
                    <div class="flex items-center mt-1">
                        <p class="mt-3 text-l leading-6 text-black">Electronique, Systéme Embarqué, Systéme intelligents, Systéme Communicants <br> <br>
                            ● Adaptation des étudiants aux demandes du marché de l'emploi national et internantional <br>
                            ● Compétences Spécifiques <br>
                            ● Des étudiants capables de concevoir des systémes électronique embarqués, intelligents et Communicants depuis l'idée jusqu'a l'implémentation</p> 
                    </div>
                </div>
            </div>
            <!-- <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-sm leading-10 text-gray-900">grade</p>
            </div> -->
        </li>

        <li class="flex flex-col sm:flex-row justify-center items-center gap-x-3 gap-y-3 py-3">
            <div class="flex flex-col sm:flex-row min-w-0 gap-x-4 justify-center items-center">
                <div class="min-w-0 flex-auto text-center sm:text-left">
                    <div class="flex justify-center sm:justify-start items-center text-teal-500">
                        <p class="text-lg font-semibold leading-6">Licence en Technologies de l'information et de Communication</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </li>
        
        <li class="flex flex-col sm:flex-row justify-center items-center gap-x-3 gap-y-3 py-3">
            <div class="flex flex-col sm:flex-row min-w-0 gap-x-4 justify-center items-center">
                <div class="min-w-0 flex-auto text-center sm:text-left">
                    <div class="flex justify-center sm:justify-start items-center text-teal-500">
                        <p class="text-lg font-semibold leading-6">Mastére Professionnel : Systémes Emabarqués</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </li>
    
        <li class="flex flex-col sm:flex-row justify-center items-center gap-x-3 gap-y-3 py-3">
            <div class="flex flex-col sm:flex-row min-w-0 gap-x-4 justify-center items-center">
                <div class="min-w-0 flex-auto text-center sm:text-left">
                    <div class="flex justify-center sm:justify-start items-center text-teal-500">
                        <p class="text-lg font-semibold leading-6">Génie des Systémes Electroniques de Communication</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </li>
        

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <div class="flex items-center text-center">
                        <p class="text-lg font-semibold leading-6 text-teal-500 mr-2 text-center">Licence en Technologies de l'information et de Communication</p>
                    </div>
                    <div class="flex items-center mt-1">
                        <p class="mt-3 text-l leading-6 text-black">
                            ● S1 - S3 : Les trois premiers semestres (Tronc commun), de S1 à S3, assurent la formation polyvalente ayant le niveau minimal  de compétences et des acquis d'apprentissage lui permettant d’intégrer tous les métiers visés
                            <br>
                            ● S4 - S5 : Le semestre S4 et S5 assurent la spécialisation à travers l’option 2 : Systèmes IoT choisie par l’étudiant
                            <br>
                            ● S6 : Projet Fin D'etudes <br>
                            Les étudiants issus de cette formation peuvent continuer leurs études : <br>
                            1: En cycle d’ingénieurs (en participant aux concours spécifiques) <br>
                            2. En master de recherche dans des disciplines de mêmes spécialités <br>
                            3. En master professionnel dans des disciplines de mêmes spécialités
                        </p> 
                    </div>
                </div>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <div class="flex items-center text-center">
                        <p class="text-lg font-semibold leading-6 text-teal-500 mr-2 text-center">Mastére Professionnel : Systémes Emabarqués</p>
                    </div>
                    <div class="flex items-center mt-1">
                        <p class="mt-3 text-l leading-6 text-black">
                            Cette formation permettra au diplômé de : <br>
                            ● Développer une compétence métier relevant de l’un des domaines suivants :
                            systèmes embarqués, domotique et réseau d’intérieur <br>
                            ● Savoir appliquer les principales procédures et méthodes utilisées dans la mise en
                            œuvre des systèmes embarqués <br>
                            ● Définir, justifier, planifier et mener à terme un projet d’implémentation d’une
                            technologie existante ou des projets de développement dans le domaine de la
                            technologie de systèmes embarqués <br>
                            ● Maitriser la conception et le développement des systèmes intégrants <br>
                            ● Concevoir des interfaces homme/machine pour la supervision des systèmes
                            domotiques <br>
                            ● Maitriser les concepts de l’électronique avancée pour appréhender et concevoir des
                            dispositifs en systèmes embarqués.
                        </p> 
                    </div>
                </div>
            </div>
        </li>

        <li class="flex flex-col sm:flex-row justify-between gap-x-3 gap-y-3 py-3">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <div class="flex items-center text-center">
                        <p class="text-lg font-semibold leading-6 text-teal-500 mr-2 text-center">Génie des Systémes Electroniques de Communication</p>
                    </div>
                    <div class="flex items-center mt-1">
                        <p class="mt-3 text-l leading-6 text-black">
                            Cette formation permettra au diplômé de : <br>
                            ● Développer une compétence métier relevant de l’un des domaines suivants :
                            systèmes embarqués, domotique et réseau d’intérieur <br>
                            ● Savoir appliquer les principales procédures et méthodes utilisées dans la mise en
                            œuvre des systèmes embarqués <br>
                            ● Définir, justifier, planifier et mener à terme un projet d’implémentation d’une
                            technologie existante ou des projets de développement dans le domaine de la
                            technologie de systèmes embarqués <br>
                            ● Maitriser la conception et le développement des systèmes intégrants <br>
                            ● Concevoir des interfaces homme/machine pour la supervision des systèmes
                            domotiques <br>
                            ● Maitriser les concepts de l’électronique avancée pour appréhender et concevoir des
                            dispositifs en systèmes embarqués.
                        </p> 
                    </div>
                </div>
            </div>
        </li>

    </ul>
</body>