<div class="relative overflow-hidden bg-white">
    <div class="pt-16 sm:pt-24 lg:pt-40"> <!-- Enlever pb-80, sm:pb-40, lg:pb-48 -->
      <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
        <div class="sm:max-w-lg">
          <h1 class="text-4xl font-bold tracking-tight text-teal-500 sm:text-6xl">Nos Formations Sont accréditié !</h1>
          <p class="mt-4 text-xl text-gray-500">This year, our new summer collection will shelter you from the harsh elements of a world that doesn't care if you live or die. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse explicabo ratione repellat mollitia, atque harum dignissimos consectetur corporis? Placeat similique nam ea ipsam officiis. Nulla sapiente saepe mollitia tempora culpa?
          Sint non, suscipit recusandae id, laborum iusto est iure accusantium consequuntur, architecto aut iste perferendis ducimus neque rerum! Magnam maiores natus totam voluptatum magni consequuntur hic nobis numquam, nihil dolores.</p>
        </div>
        <div>
          <div class="mt-10">
            <!-- Decorative image grid -->
            <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
              <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
                <div class="flex items-center space-x-6 lg:space-x-8">
                  <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                    <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                      <img src="logo_DE-01.png" alt="" class="object-cover object-center rounded-md">
                    </div>
                  </div>
                  <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                    <div class="h-64 w-44 overflow-hidden rounded-md">
                      <img src="eur 1.png" alt="" class="object-cover object-center">
                    </div>
                  </div>
                  <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img src="eur 2.png" alt="" class="object-cover object-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="https://www.enaee.eu/eur-ace-system/" target="_blank" class="inline-block rounded-md border border-transparent bg-teal-500 px-8 py-3 text-center font-medium text-white hover:bg-teal-600">Voir Plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  